body {
  background-color: darkcyan;
 
}

input {
  margin-top: 100px;
  margin-left: 460px;
  height: 40px;
  width: 370px;
  display: block;
  padding-left: 395px;
}

#output {
  margin-top: 45px;
  width: 100px;
  background: tomato;
  margin-left: 400px;
}

#btn {
  width: 350px;
  height: 80px;
  color: wheat;
  background-color: goldenrod;
  border-style: dotted;
  border-radius: 15px;
  margin-top: 100px;
  margin-left:650px;
}

h1 {
  text-align: center;
  font-size: 45px;
  color: whitesmoke;
  margin-top: 50px;
}